<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela principal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <p th:text ="${usuariocontroller}"></p>

    <form method = "post" th:action = "@{/create}"th:object="${pessoa}">
        Nome: <input type="text" name="nome"/>
        <br/>
        Email : <input type="text" name="nome"/>
        <br/>
        Usuário : <input type="text" name="usuário"/>
        <br>
        <button>Cadastrar Candidato </button>
    </form>
</body>
</html>